<%- include('partials/header', {profileUrl: linkProfile}) -%>

<div class="container-fluid add-post-container">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <h5 class="card-title"><%= linkProfile.name %></h5>
            <p class="card-subtitle text-muted">
                Maximum 500 Characters Each
            </p>
            <form action="/editprofile" method="POST">
                <textarea class="form-control add_text_content" name="profile_message" maxlength="500" id="" cols="5" rows="5" placeholder="Tell us about yourself!"></textarea>
                <textarea class="form-control add_text_content" name="commission_details" maxlength="500" id="" cols="5" rows="5" placeholder="Enter your commission details!"></textarea>
                <button class="btn btn-success post_button" type="submit">Publish</button>
            </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>