<%- include('partials/header', {profileUrl: linkProfile}) -%>



<div class="container-fluid message-cont">
    <div class="row ">
      <div class="col-12 ">
        <div class="row">
          <div class="col-3"> <!--Message Profile-->
            <div class="col-12 message-profile outline">
              <div class="row">
                <div class="col-3 message-user-profile">
                  <img src="/public/images/user.png" alt="" oncontextmenu="return false;">
                </div>
                <div class="col-9">
                  <div class="row">Juan Dela Cruz</div>
                  <div class="row">Message Content</div>
                </div>
              </div>
            </div>
            <div class="col-12 message-profile outline">
              <div class="row">
                <div class="col-3 message-user-profile">
                  <img src="/public/images/user.png" alt="">
                </div>
                <div class="col-9">
                  <div class="row">Juan Dela Cruz</div>
                  <div class="row">Message Content</div>
                </div>
              </div>
            </div>
            <div class="col-12 message-profile outline">
              <div class="row">
                <div class="col-3 message-user-profile">
                  <img src="/public/images/user.png" alt="">
                </div>
                <div class="col-9">
                  <div class="row">Juan Dela Cruz</div>
                  <div class="row">Message Content</div>
                </div>
              </div>
            </div>
            <div class="col-12 message-profile outline">
              <div class="row">
                <div class="col-3 message-user-profile">
                  <img src="/public/images/user.png" alt="">
                </div>
                <div class="col-9">
                  <div class="row">Juan Dela Cruz</div>
                  <div class="row">Message Content</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-9 message-area ">
            <div class="message-container">
              a
            </div>
          </div> <!--Message Content-->
        </div>
      </div>
    </div>
  </div>






<%- include('partials/footer') -%> 