body {
    background-color: #f3f3f3;
    font-family: Century Gothic, sans-serif;
}
p {
    margin-top: 16px;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* Navigation */
.logo {
    width: 50px;
}
.bg-light {
    background-color: #FFF!important;
}

.navbar {
    border-bottom: 1px solid #f1f1f1;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5%;
}

.navbar-collapse {
    flex-grow: 0;
    margin-right: 7%;
}

.form-control {
    background-color: #f8f8f8;
    width: 300px;
}

.searchbar {
    margin-right: 20%;
}

@media only screen and (max-width: 516px){
    .d-flex {
        display: none!important;
    }
}

@media only screen and (max-width: 602px){
    .searchbar {
        margin-right: 0;
    }
}

/* Post Area */
.more {
    margin: 16px 0;
    cursor: pointer;
}

.dropdown-toggle::after {
    content: none;
}

.image {
    
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.like {
    cursor: pointer;
}

.comment {
    cursor: pointer;
}

.like-button {
    text-decoration: none;
    color: #818181;
    cursor: pointer;
}

.comment-button {
    text-decoration: none;
    color: #818181;
}

.post-button a:hover{
    color: #63bc46;
}

.comment-button a:hover {
    color: rgb(41, 91, 197);
}

.liked-button {
    text-decoration: none;
    color: #63bc46;
}

.numberIndicator {
    display: flex;
}

.numberIndicator p {
    margin: 5px 5px 5px 0;
}

.post-button {
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #D9D9D9;
}

.post-buttons {
    border: 0;
}

#like-button {
    padding: 5px;
}

#comment-button {
    padding: 5px;
    border-left: 1px solid #D9D9D9;
}

.row .post-buttons {
    padding: 0;
}

.post-button button{
    width: 100%;
}

.user-profile {
    text-decoration: none;
    color: #000;
}

.user-profile :hover {
    color: #000;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.user-name-display {
    display: inline-block;
}

.post-content-img {
    width: 100%;
}

.post-content-img-cont {
    padding: 0;
}

.user-icon {
    width: 50px;
}

.post-content {
    width: 600px;
    background-color:#FFFFFF;
    border-radius: 10px;
    margin-bottom: 30px;
}

.b {
    border-left: 1px solid #aaaaaa;
}

.col-lg-7 {
    padding: 0 5%;
}

.margin-area {
    margin: 100px 0;
}

.container {
    margin-top: 100px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 996px){
    .col-lg-5 {
        display: none;
    }
    .row {
        justify-content: center;
    }
}

/* Featured Carousel */


#carouselExampleIndicators {
    width: 70%;
}

.carousel {
    margin: auto;
}

.testcont {
    width: 100%;
    height: 300px;
    background-color: aqua;
}

.test {
    width: 100%;
    height: 500px;
    background-image: url(/public/images/placeholder1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
}
.test2 {
    width: 100%;
    height: 500px;
    background-image: url(/public/images/placeholder2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-position: center;
}
.test3 {
    width: 100%;
    height: 500px;
    background-image: url(/public/images/placeholder3.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-position: center;
}
.test4 {
    width: 100%;
    height: 500px;
    background-image: url(/public/images/sample.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-position: center;
}
.testImg img{
    width: 100%;
}

.feature-container {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1650px){
    .test {
        height: 400px
    }
}

@media only screen and (max-width: 1440px){
    .test {
        height: 300px
    }
}
@media only screen and (max-width: 1200px){
    .post-content {
        width: 500px;
    }
}
@media only screen and (max-width: 1100px){
    .test {
        height: 200px
    }
}
@media only screen and (max-width: 1000px){
    #post-side {
        margin: auto;
    }
    #feature-side {
        display: none;
    }
}
@media only screen and (max-width: 550px){
    .post-content {
        width: 400px;
    }
    #post-side {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 400px){
    .container-fluid {
        padding-left: 1%;
    }
}

/* Featured Artist */

.featured-artists {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
.artists img{
    width: 50px;
    margin-right: 20px;
}

.artists {
    display: inline-block;
}


/* Gallery */
.gallery {
    width: 80%;
    margin-top: 100px;
}

.gallery-img img{
    width: 100%;
}

/* Profile */


/* Messages */
.message-cont {
    width: 80%;
    margin-top: 100px;
    height: 80vh;
    background-color: #D9D9D9;
    padding: 10px;
}

/* Add Post */

.add-post-container {
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.add_text_content {
    width: 100%;
    margin-bottom: 20px;
}

.post_button {
    display: flex;
    margin-left: auto;
}

.image-uploader {
    margin: 20px 10px 20px 0;
}

.file-upload {
    margin: 10px 10px 10px 0;
}